
@font-face {
    font-family: 'SpaceGrotesk';
    src: url('fonts/space/SpaceGrotesk-VariableFont_wght.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-dark: #141414;
    --bg-light: #1E1E1E;
    --bg-hl: #FFFFFF10;
    --text: #DDDDDD;
    --text-dim: #AAAAAA;
    --highlight: oklch(0.5 0.01 221);
    --border: oklch(0.4 0.01 221);
    --border-muted: oklch(0.3 0.01 221);
    --primary: #3c76ea;
    --secondary: oklch(0.76 0.1 41);
    --danger: oklch(0.7 0.05 30);
    --warning: oklch(0.7 0.05 100);
    --success: oklch(0.7 0.05 160);
    --info: oklch(0.7 0.05 260);
    
    --font: 'SpaceGrotesk';
    --font-title: 'SpaceGrotesk';

    --p: 1rem var(--font);
    --b: 500 1rem var(--font);
    --h1: 600 1.35rem var(--font-title);
    --h2: 600 1.2rem var(--font-title);
    --section: 800 0.8rem var(--font);
    --title-tabs: 600 1rem var(--font-title);
    --title: 700 1.3rem var(--font-title);
    --font-shortcut: 700 0.9rem var(--font-title);
    --font-titlecard-subtitle: 800 0.8rem var(--font);

    --spm: 0.1rem;
    --sp1: 0.25rem;
    --sp2: calc(2 * var(--sp1));
    --sp3: calc(3 * var(--sp1));
    --sp4: calc(4 * var(--sp1));
    --sp5: calc(5 * var(--sp1));
    --sp6: calc(6 * var(--sp1));
    --sp7: calc(7 * var(--sp1));
    --sp8: calc(8 * var(--sp1));
    --sp9: calc(9 * var(--sp1));
    --sp10: calc(10 * var(--sp1));
    --sp11: calc(11 * var(--sp1));
    --sp12: calc(12 * var(--sp1));
    --sp13: calc(13 * var(--sp1));
    --sp14: calc(14 * var(--sp1));
    --sp15: calc(15 * var(--sp1));
    --sp16: calc(16 * var(--sp1));

    --header-height: 2.8rem;
    --footer-height: 2.8rem;
    --content-v-margin: var(--sp4);
}

/* Theme Styles (darkmode/lightmode) */
body.lightmode {
    --bg-dark: #F9F9F9;
    --bg-light: #E8E8E8;
    --bg-hl: #00000014;
    --text: #282B2E;
    --text-dim: #444444;
    --highlight: oklch(1 0.01 221);
    --border: #888888;
    --border-muted: #CCCCCC;
    --primary: #3C59EA;
    --secondary: oklch(0.4 0.1 41);
    --danger: oklch(0.5 0.05 30);
    --warning: oklch(0.5 0.05 100);
    --success: oklch(0.5 0.05 160);
    --info: oklch(0.5 0.05 260);
}
body.lightmode .dark {
    display: none !important;
}
body:not(.lightmode) .light {
    display: none !important;
}

/* Global Styles */
html {
    scroll-behavior: smooth;
}
body {
    text-wrap: auto;
    background: var(--bg-dark);
    color: var(--text);
    height: calc(100vh - var(--header-height) - var(--content-v-margin)) !important;
}
body * {
    font: var(--p);
}
a {
    text-decoration: none;
    color: var(--primary);
    font: var(--b);
}
a.link:hover {
    text-decoration: underline;
}
.no-underline {
    text-decoration: none !important;
}
a, .btn {
    cursor: pointer !important;
}
body.loaded, body.loaded * {
    transition: color 0.25s linear !important;
    transition: background-color 0.25s linear !important;
}
.unselectable, .symbol {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.highlight {
    padding: 5px;
    /*padding-bottom: 4px;*/
    text-align: center;
    border: 1px solid transparent;
}
.highlight:hover {
    background: var(--bg-hl);
    color: var(--primary) !important;
    border: 1px solid var(--border-muted) !important;
}
.shortcut {
    border: 1px solid var(--border-muted);
    width: 1.3rem;
    text-align: center;
    display: inline-block;
    border-radius: 2px;
    font: var(--font-shortcut);
    color: var(--text);
    background: var(--bg-hl);
}
.shortcut:hover {
    border: 1px solid var(--border) !important;
}


.page-content {
    margin-bottom: calc(var(--footer-height) + var(--content-v-margin)) !important;
}
* > .shortcut {
    align-items: center;
    text-align: center;
}


/* Global Layout Styles */
.content {
    display: block;
    margin: auto;
    width: 60vh;
    min-width: 800px;
    /*width: var(--content-max-width);*/
    min-height: 100%;
}

/* Header Styles */
header {
    width: 100%;
    height: var(--header-height);
    background: var(--bg-light);
    border-bottom: 1px solid var(--border-muted);
    position: fixed;
    top: 0px;
    margin-top: calc(- var(--header-height))
}
header > .content {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    justify-content: space-between;
}
header > .content > * {
    align-content: center;
}
.header-title {
    color: var(--text);
    font: var(--title);
    width: 120px;
}
.header-tabs {
    font: var(--title-tabs);
    font-size: 1rem;
    text-align: center;
    cursor: default;
}
.header-tabs > a {
    color: var(--text);
    margin: 0 0.2rem;
}
.header-buttons {
    width: 120px;
    align-content: end;
}
.header-buttons > .btn, .header-buttons > a {
    float: right;
    color: var(--text);
}

/* Footer Styles */
footer {
    width: 100%;
    height: var(--footer-height);
    position: fixed;
    bottom: 0px;
    background: var(--bg-light);
    border-top: 1px solid var(--border-muted);
}
footer > .content {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    justify-content: space-between;
}
footer > .content > * {
    align-content: center;
}
.footer-text {
    color: var(--text-dim);
    font: var(--p);
    text-align: center;
    cursor: default;
}
.footer-buttons {
    align-content: end;
}
.footer-buttons > .btn, .footer-buttons > a {
    float: right;
    margin-left: 0.7rem;
    color: var(--text);
}

/* Page Content */
.page-content {
    margin-top: calc(var(--content-v-margin) + var(--header-height));
    margin-bottom: calc(var(--content-v-margin) + var(--footer-height));
    font: var(--p);
    color: var(--text-dim);
    text-align: justify;
}

/* Text Styles */
.italic {
    font-style: italic;
}
b, .bold {
    font: var(--b);
    color: var(--text);
}
p {
    line-height: var(--sp6);
    margin-bottom: var(--sp4);
}

/* UL */
ul > li {
    margin-left: var(--sp6);
    line-height: var(--sp6);
}
ul.text-list > li {
    margin-bottom: var(--sp2);
}

/* H1, H2 & sections */
h1 {
    font: var(--h1);
    color: var(--text);
    line-height: 1.5rem;
    margin-top: var(--sp2) !important;
}
h2 {
    font: var(--h2);
    color: var(--text);
    line-height: 1.15rem;
}
h1, h2, .section {
    margin-top: var(--sp10);
    margin-bottom: var(--sp4);
}
.section {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.section > .section-title {
    text-transform: uppercase;
    font: var(--section);
    color: var(--text-dim);
    letter-spacing: 0.075rem;
    flex-grow: 0;
    margin-right: var(--sp2)
}
.section > .section-divider {
    background-color: var(--border);
    height: 1px;
    flex-grow: 1;
}

/* Title Section */
.title-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--border);
    padding-bottom: var(--sp3);
    margin-bottom: var(--sp3);
    margin-top: var(--sp8);
}
.title-section > .title-section-title {
    font: var(--h2);
    color: var(--text);
    line-height: 1.25rem;
    flex-grow: 0;
    margin-right: var(--sp2);
}
.title-section > .title-section-divider {
    background-color: transparent;
    height: 1px;
    flex-grow: 1;
}
.title-section > .title-section-after {
    flex-grow: 0;
}

/* Crumbs */
.crumbs {
    display: flex;
    flex-direction: row;
    margin-left: -4px;
}
.crumb-divider {
    padding-top: 2px;
}
.crumb-text {
    background-color: transparent;
    border-radius: 16px;
    padding-left: var(--sp1);
    padding-right: var(--sp1);
    padding-bottom: 1px;
}
a.crumb-text:hover {
    background-color: var(--bg-hl);
    text-decoration: none !important;
}

/* Tag */
.tag-list {
    display: flex;
    flex-direction: row;
}
.tag {
    background-color: var(--bg-light);
    border: 1px solid var(--border-muted);
    padding-left: var(--sp1);
    padding-right: var(--sp1);
    margin-left: var(--sp1);
    margin-top: var(--sp2);
    font: var(--p);
    color: var(--text-dim) !important;
}
:hover > * > .tag-list > .tag, :hover > * > .tag, :hover > .tag, .tag:hover {
    background-color: var(--bg-hl);
}
.titlecard + .tag-list > .tag:first-child, h1 > .tag-list > .tag:first-child {
    margin-left: 0;
}
.titlecard + .tag-list > .tag, h1 > .tag-list > .tag {
    background-color: var(--bg-light) !important;
}

/* Card */
.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--sp3);
    border: 1px solid #00000000;
    flex-wrap: wrap;
}
.card:hover, .card-hl {
    border: 1px solid var(--border-muted);
    background-color: var(--bg-light);
}
.card > * {
    font: var(--p);
    color: var(--text-dim);
    flex-grow: 0;
    margin-left: var(--sp1);
    margin-right: var(--sp1);
}
.card > .card-title {
    font: var(--h2);
    color: var(--text);
}
.card > .card-divider {
    background-color: var(--border-muted);
    height: 1px;
    flex-grow: 1;
    margin-left: var(--sp3);
    margin-right: var(--sp3);
}
.card > .card-divider-hidden, .card:hover > .card-divider {
    background-color: #00000000;
}
.card > .card-subtitle {
    font-weight: 600;
}
.card > .card-dot {
    color: var(--border)
}
.card > .card-content {
    flex-basis: 100%;
    flex-grow: 0;
    margin-top: var(--sp2);
    margin-right: var(--sp1);
}
.card > .card-center {
    text-align: center;
    align-items: center;
    width: 100%;
}
.card.no-hover {
    padding: var(--sp1);
    margin-bottom: var(--sp4);
}
.card.no-hover:hover {
    border: 1px solid transparent;
    background-color: transparent;
}
.no-hover:hover > * > .tag-list > .tag, .no-hover > * > .tag, .no-hover > .tag, .no-hover:hover {
    background-color: transparent !important;
}

/* Titlecard */
.titlecard {
    width: 100%;
    height: 150px;
    padding: var(--sp3);
    border: 1px solid var(--border-muted);
    background: var(--bg-light);
    display: grid;
    grid-template-columns: 6fr 1fr 6fr 6fr;
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: var(--sp6);
}
.titlecard > img {
    grid-row: 1 / 4;
    grid-column: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    border: 1px solid var(--border-muted);
    margin-right: var(--sp4);
}
.titlecard-ul, .titlecard-dl {
    grid-column: 3;
    margin: auto var(--sp1);
}
.titlecard-ur, .titlecard-dr {
    grid-column: 4;
    margin: auto var(--sp1);
}
.titlecard-ul, .titlecard-ur {
    grid-row: 1;
}
.titlecard-dl, .titlecard-dr {
    grid-row: 2;
}
.titlecard-subtitle {
    font: var(--font-titlecard-subtitle);
    color: var(--text-dim);
    margin-bottom: var(--sp1);
}
.titlecard-text {
    color: var(--text)
}


/* Images */
.halfs {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap
}
.halfs > * {
    width: 50%;
    max-height: 400px;
    border: 1px solid #00000000;
}
.halfs.limit-height > * {
    height: 400px !important;
}
.big-img {
    width: 100%;
}
.big-img > * {
    width: 70%;
    margin: auto;
}
.big-img.limit-height > * {
    height: 800px !important;
}
.card > img {
    width: 100%;
    max-height: calc(100% - 1.1rem - 2*var(--sp3) - 2px);
    object-position: center;
    object-fit: contain;
    overflow: hidden;
    border: 1px solid var(--border-muted);
    margin-bottom: var(--sp1);
}
.img-fullscreen-content {
    display: none;
}
.card.h30vw > img {
    max-height: calc(30vw - 1.1rem - 2*var(--sp3) - 2px);
}
.card.h50vw > img {
    max-height: calc(50vw - 1.1rem - 2*var(--sp3) - 2px);
}


/* Fullscreen Image */
#fullscreen {
    position: fixed;
    z-index: -1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-dark);
    cursor: pointer;
    display: none;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    padding: var(--sp2);
}
#fullscreen-image {
    flex-basis: 0.70;
    height: 100%;
    width: 70%;
    padding-right: var(--sp2);
    background: var(--bg-light);
}
#fullscreen-card {
    flex-basis: 0.30;
    width: 30%;
    height: 100%;
    overflow: auto;
    background: transparent;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: start;
}
#fullscreen-card > .card-content {
    text-align: start;
    min-height: auto;
    flex-grow: 1;
    flex-basis: content;
}
#fullscreen-image > img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
    overflow: hidden;
    border: 1px solid var(--border-muted);
    margin-bottom: var(--sp1);
}
.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

/* Timeline */
ul.timeline {
    position: relative;
}
ul.timeline:before {
    position: absolute;
    content: ' ';
    width: 1px;
    margin-top: 10px;
    height: 100%;
    left: calc(- (var(--sp4)/2.0));
    background-color: var(--text);
}


/* Misc */
.cursor-pointer {
    cursor: pointer;
}
.no-margin {
    margin: 0px !important
}
.no-margin-bottom {
    margin-bottom: 0 !important;
}
.h30vw {
    max-height: 30vw !important;
}
.h50vw {
    max-height: 50vw !important;
}